[BASIC]


# Naming style matching correct argument names.
argument-naming-style=camelCase

# Naming style matching correct attribute names.
attr-naming-style=camelCase

# Naming style matching correct class names.
class-naming-style=PascalCase

# Naming style matching correct constant names.
const-naming-style=UPPER_CASE

# Naming style matching correct function names.
function-naming-style=camelCase

# Naming style matching correct method names.
method-naming-style=camelCase

# Naming style matching correct module names.
module-naming-style=camelCase

# Naming style matching correct variable names.
variable-naming-style=camelCase

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

# Minimum lines number of a similarity.
min-similarity-lines=25